.mantform
  %h2
    Editar #{Razontiporesolucion.human_name}
  - semantic_form_for @razontiporesolucion do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(razonestiposresoluciones_path)
