<div class="mantform addpadding">
  <h2>Nuevo <%= Recursorevision.human_name %></h2>
  
  <% semantic_form_for [@solicitud.institucion,@solicitud, @recursorevision]  do |form| %>
    <%= form.semantic_errors %>
    <%= render :partial => 'form', :locals => {:form => form} %>    
    <%= buttons_create(solicitud_path(@solicitud)) %>
  <% end %>
</div>
<script type="text/javascript">
   $("#recursorevision_fecha_presentacion").datepicker();
   $("#recursorevision_fecha_notificacion").datepicker();
   $("#recursorevision_fecha_resolucion").datepicker();
</script>
