*.DS_Store
*.swp
*.swo
*~
db/*.sqlite3
db/development_structure.sql
doc/api
doc/app
log/*.log
log/*.pid
log/profile.txt
tmp/**/*
tmp/*.json
coverage*
config/database.yml
db/sphinx
db/test_structure.sql
public/system
public/albuminfo.xml
public/assets
public/photos
public/actionpack_files
public/assign_docs
public/files
rerun.txt
public/javascripts/all.js
public/stylesheets/all_ie.css
public/stylesheets/all_print.css
public/stylesheets/all_screen_projection.css
.bundle
RAILS_ENV=test/
TAGS
.gitconfig
feature.html
capybara-*.html
index/*
solr/data
lib/generators/haml
