/* Estilos especificos para OpenWolf */

body {
 background: #FFFFFF ;
}

a {color:#2E7CB0;text-decoration:underline;}

/* Cabecera y Pie de Pagina */
#user_nav {
  float: right;
  font-size: 12px;
}

#header-bar { background: url("../images/header.jpg");
 height: 50px; 
 color: white;
 text-align: right;
 padding-top: 25px;
 }
 
#header-bar h1 {
 font-size: 5em;
 color: white;
}



#footer-bar { background: url("../images/footer.png");
height: 100px;
text-align: center;
 }
 
#footer-bar a:link {
color: white;
}

/* Popup */

.popup {
   position: absolute;
   top: 25%;
   left: 25%;
   width: 650px;
   height: 275px;
   padding: 16px;
   border: 2px solid black;
   background-color: white;
   z-index:1;
   overflow: auto;
}

/* Pagina Principal */

#solisearchbox { 
  text-align: right;
  vertical-align: bottom; 
}

/* Esquinas */

.roundedcornr_box_203414 {
   background: #ffffff url("../images/roundedcornr_203414_grad.gif") repeat-x top left;
}
.roundedcornr_top_203414 div {
   background: url("../images/roundedcornr_203414_tl.gif") no-repeat top left;
}
.roundedcornr_top_203414 {
   background: transparent url("../images/roundedcornr_203414_tr.gif") no-repeat top right;
}
.roundedcornr_bottom_203414 div {
   background: url("../images/roundedcornr_203414_bl.gif") no-repeat bottom left;
}
.roundedcornr_bottom_203414 {
   background: transparent url("../images/roundedcornr_203414_br.gif") no-repeat bottom right;
}

.roundedcornr_top_203414 div, .roundedcornr_top_203414,
.roundedcornr_bottom_203414 div, .roundedcornr_bottom_203414 {
   width: 100%;
   height: 15px;
   font-size: 1px;
}
.roundedcornr_content_203414 { margin: 0 15px; }


/* Simple scalable breadcrumb by Veerle Pieters
------------------------------------------------------------------*/



#breadcrumbs ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
	}

#crumbs {
	height:2.3em;
	border:1px solid #dedede;
	}

#crumbs li {
	float:left;
	line-height:2.3em;
	color:#777;
	padding-left:.75em;
	}
#crumbs li a {
	background:url("../images/crumbs.gif") no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}


#crumbs li a:hover { color:#dd2c0d; }
#crumbs li a:focus {
	color:#dd2c0d;
	}

/* Estilos para Tablas 
------------------------------------------------------------*/

#minimalist-a{
               font-family:inherit;
               font-size:inherit;
               background:#fff;
               border-collapse:collapse;
               text-align:left;
               margin:0px;}

#minimalist-a th{font-size:100%;
                  font-weight:normal;
                  color:#039;
                  border-bottom:2px solid #6678b1;
                  padding:5px 8px;}

#minimalist-a td{color:#669;
                  padding:9px 8px 0;}

#minimalist-a tbody tr:hover td{
                                 color:#009;}

#minimalist-b{
               font-family:inherit;
               font-size:100%;
               background:#fff;
               border-collapse:collapse;
               text-align:left;
               margin:0px;}

#minimalist-b th{
                  font-size:100%;
                  font-weight:normal;
                  color:#039;
                  border-bottom:2px solid #6678b1;
                  padding:5px 8px;}

#minimalist-b td{
                  border-bottom:1px solid #ccc;
                  color:#669;
                  padding:6px 8px;}

#minimalist-b tbody tr:hover td{
                                 color:#009;}

#ver-minimalist{
                 font-family:inherit;
                 font-size:100%;
                 width:480px;
                 text-align:left;
                 border-collapse:collapse;
                 margin:30px 30px 30px 15px;}


/* Errores de Ruby on Rails
---------------------------------------------------*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

