/* Estilos para Tablas 
   */

.minimalist-a{
               font-family:inherit;
               font-size:inherit;
               background:#fff;
               border-collapse:collapse;
               text-align:left;
               margin:0px;}

.minimalist-a th{font-size:100%;
                  font-weight:normal;
                  color:#039;
                  border-bottom:2px solid #6678b1;
                  padding:5px 8px;}

.minimalist-a td{color:#669;
                  padding:9px 8px 0;}

.minimalist-a tbody tr:hover td{
                                 color:#009;}

.minimalist-b{
               font-family:inherit;
               font-size:100%;
               background:#fff;
               border-collapse:collapse;
               text-align:left;
               margin:0px;}

.minimalist-b th{
                  font-size:100%;
                  font-weight:normal;
                  color:#039;
                  border-bottom:2px solid #6678b1;
                  padding:5px 8px;}

.minimalist-b td{
                  border-bottom:1px solid #ccc;
                  color:#669;
                  padding:6px 8px;}

.minimalist-b tbody tr:hover td{
                                 color:#009;}
.ver-minimalist{
                 font-family:inherit;
                 font-size:100%;
                 width:480px;
                 text-align:left;
                 border-collapse:collapse;
                 margin:30px 30px 30px 15px;}