.mantform
  %h2
    Nuevo #{Tiporesolucion.human_name}
  - semantic_form_for @tiporesolucion do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(tiposresoluciones_path)
