.mantform
  %h2
    Nueva #{Profesion.human_name}
  - semantic_form_for @profesion do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(profesiones_path)
