#flash-messages
  - if flash[:notice]
    .notice= flash[:notice]
  - if flash[:error]
    .error= flash[:error]
  - if flash[:success]
    .success= flash[:success]
  - if flash[:alert]
    .notice.span-24.last= flash[:alert]
