<div class="roundedcornr_box_203414">
   <div class="roundedcornr_top_203414"><div></div></div>
      <div class="roundedcornr_content_203414">
        <%= yield %>
      </div>
   <div class="roundedcornr_bottom_203414"><div></div></div>
</div>
