.error{:style => "text-align: center;"}
  %h1 Acceso Denegado
  %p
    Usted ha intentado ingresar a una opción para la cual no posee privilegios.
    %br/
    Si usted cree que debería poseer acceso a esta opción por favor consulte con su administrador local.
