<table border="0" cellpadding="0">
<tr>
 <td><%= f.label :textoseguimiento, t("seguimientos.label_textoseguimiento") %></td>
 <td><%= f.text_area(:textoseguimiento, :cols => 60, :rows => 10)%></td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td>
   <%= submit_popup(submittext) %> <%= close_popup('newseguimiento') %>
 </td>
</tr>
</table>
<script type="text/javascript" charset="utf-8">
	setfocus('seguimiento_textoseguimiento');
</script>
