%fieldset
  %legend
    = image_tag('add22.png')
    = t("seguimientos.title_new")
  -  form_for [@institucion, @solicitud, @actividad, @seguimiento], {:remote => true}, {:class=>"mantform"} do |f|
    = render :partial=>'form', :locals=>{:f => f, :submittext => t("data.submit_new")}
