%h4 Documentos Adjuntos
%table#minimalist-a
  %thead
    %tr
      %th{:scope => "col"} Número Ref. Adjunto
      %th{:scope => "col"} Comentario
      %th{:scope => "col"} Usuario
      %th{:scope => "col"} &nbsp;
  %tbody
    = render :partial => 'solicitudes/adjunto', :collection => @adjuntos
  %tfoot
    %td{:colspan => "2"}
      *Documentos de Referencia sobre solicitud
