<h4>Documentos Adjuntos</h4>
<table id="minimalist-a">
  <thead>
    <tr>
      <th scope="col" width="30%">Numero Documento</th>
      <th scope="col">Comentario</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'portal/adjunto', :collection => @documentos %>
  </tbody>
  <tfoot>
    <td colspan="2">
      *Documentos de Referencia sobre solicitud
    </td>
  </tfoot>
</table>
