          %h4 Datos del Solicitante
          %table            
            %tr
              %th{:width => "20%"}= label :solicitud, t("solicitudes.label_solicitante_nombre")
              %td= @solicitud.solicitante_nombre         
          %hr/