#findbox
  = form_tag buscar_portal_index_path, :method=>:get do
    = link_to image_tag('logopenwolf.png',:size => "167x61"), portal_index_url
    = text_field_tag 'search', @q, :id=>'q', :size => 60
    = submit_tag 'Buscar en OpenWolf'
