.row
  .blue-gradient.rounded-shadow-box
    .span2    
      = link_to image_tag('logopenwolf.png',:size => "167x61"), portal_index_url
    .span10.center  
      = form_tag buscar_portal_index_path, :method=>:get do
        = text_field_tag 'q', @q, :id=>'q', :class => "span6", :placeholder => "Buscar documentos, solicitudes de información, etc."
        = submit_tag 'Buscar en OpenWolf'
