<div class="mantform addpadding">
  <h2>Nueva <%= Resolucion.human_name %></h2>
  
  <% semantic_form_for [@solicitud.institucion,@solicitud, @resolucion]  do |form| %>
    <%= form.semantic_errors %>
    <%= render :partial => 'form', :locals => {:form => form} %>    
    <%= buttons_create(solicitud_path(@solicitud)) %>
  <% end %>
</div>
<script type="text/javascript">
   $("#resolucion_nueva_fecha").datepicker();
</script>
