.mantform
  %h2
    Editar #{Role.human_name}
  - semantic_form_for @role do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(roles_path)
