- form.inputs do
  = form.input :codigo, :input_html => {:size => 20}
  = form.input :nombre, :input_html => {:size => 60}
  = form.input :documentocategoria, :include_blank => false
  = form.input :plantilla, :input_html => {:size => 60}
