.mantform
  %h2
    Nuevo #{Documentoclasificacion.human_name}
  - semantic_form_for @documentoclasificacion do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_create(documentoclasificaciones_path)
