<div id="tareas">
  <h3><%= image_tag("foldermove22.png") %> <%= t("actividades.label_mistareas") %></h3>

  <div id="asignaciones">
    <% if @asignaciones.size > 0 %>
      <%= render :partial => 'actividades/asignadas_no_completadas' %> 
    <% else %>
      <div class="success">
        No tiene tareas asignadas.
      </div>
    <% end %>
  </div>  
</div>


