.mantform
  %h2
    Editar #{Estado.human_name}
  - semantic_form_for @estado do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(estados_path)
