<div class="mantform">
  <h2>Nuevo <%= Documentocategoria.human_name %></h2>
  
  <% semantic_form_for @documentocategoria do |form| %>
    <%= form.semantic_errors %>
    <%= render :partial => 'form', :locals => {:form => form} %>    
    <%= buttons_create(documentocategorias_path) %>
  <% end %>
</div>
