<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />

    <title>OpenWolf 0.1 - <%= @page_title || "Plataforma Virtual para la Transparencia" %></title>

    <%= stylesheet_link_tag 'bp.css', 'print.css', :media => 'all' %>

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light&subset=latin' rel='stylesheet' type='text/css'>
      
    </head>
    <body>
      <%= yield %>
    </body>
  </html>
